# Aplicação
FLASK_APP=backend/run.py
FLASK_ENV=development
SECRET_KEY=change-me

# Banco de dados
DATABASE_URL=postgresql://user:password@localhost:5432/science_burger_tech

# Outras variáveis
# API_KEY=
